body{
    margin: 0px;
}
div{
    box-sizing: border-box;
}

/*------------- sidebar design -------------*/
.sidebar{
    position: absolute;
    width: 200px;
    height: 100%;
    color: white;
    font-size: 22px;
    transform: translateX(-150px);
    background-color: #494CB3;
    transition: 0.5s all;
}

.sidebar-menu{
    float: left;
    width: 90px;
    transition: 0.5s all;
}
.sidebar-menu p{
    cursor: pointer;
}

.sidebar-icons{
    float: left;
    width: 40px;
    text-align: center;
    transition: 0.5s all;
    transform: translateX(65px);
}
.sidebar-icons i{
    margin-top: 27px;
    cursor: pointer;
}

.sidebar:hover{
    transform: translateX(0px);
}
.sidebar:hover .sidebar-menu{
    transform: translateX(70px);
}

.sidebar:hover .sidebar-icons{
    transform: translateX(-70px);
}
/* --------------------------------------*/


/*------------- navbar design -------------*/
.navbar{
    width: 100%;
    height: 70px;
    border: black 1px solid;
}
.navbar-input{
    float:left;
    margin-left: 70px;
    margin-top: 10px;
}
.navbar-input input{
    width: 250px;
    height: 40px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    transition: 1s all;
}
.navbar-input button{
    height: 46px;
    width: 50px;
    margin-left: -10px;
    font-size: 15px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #343A40;
    cursor: pointer;
    color: white;
}

.navbar-notifications{
    float:right;
    margin-right: 20px;
    font-size: 20px;
    color: #808080;
}

.navbar-notifications .navbar-alert{
    position: relative;
    float: left;
}

.navbar-notifications p{
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
}
.navbar-notifications i{
    margin: 25px 30px;
    cursor: pointer;
}

.navbar-notifications .navbar-alertbox{
    position: absolute;
    background-color: red;
    top: 12px;
    right: 20px;
    width: 17px;
    height: 17px;
    font-size: 12px;
    text-align: center;
    color: white;
    border-radius: 3px;
}

.navbar-input input:focus{
    width: 500px;
    border: 1px solid lightgray;
    outline: 3px solid #a8d1db;
}
/* --------------------------------------*/


/*------------- dashboard design -------------*/

.dashboard-top{
    margin: 0px 20px 0px 30px;
}
.dashboard-top h1{
    margin-left: 40px;
    font-size: 35px;
}
.dashboard-items .item-text{
    float: left;
    margin-left: 30px;
}
.item-text p{
    font-size: 24px;
    margin-bottom: -10px;
}
.item-text h2{
    font-size: 30px;
}
.dashboard-items i{
    float: right;
    font-size: 50px;
    color: #808080;
    margin: 40px 30px;
}

/* --------------------------------------*/

/*------------- dashboard design -------------*/
/* --------------------------------------*/

.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 150px;
}
.dashboard-items{
    margin-left: 40px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
}
